.main-dashboard {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(#fff, rgb(207, 237, 252)); */
  height: 100vh;
  background-color: #fff;


}

/*
.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
} */

/* h1 {
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
} */

/* h2 {
  color: #fff;
} */

.swipe {
  position: absolute;
  display: flex;
  /* right: 30em; */
  top: 0;
}

.swipe h3 {
  color: black;
}

.cardContainer {
  height: 45em;
  position: relative;
  padding: 1em;
}

.card {
  position: relative;
  background-color: #fff;
  width: 35em;
  margin: 0 auto;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.cardContent {
  width: 100%;
  height: 100%;
}


.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

/* .buttons {
  margin: -180px;
  display: flex;
} */
.dashboard-buttons {
  display: flex;
  margin-top: -37px;
  margin-left: 17em;
  padding: 3em;
}

.dashboard-buttons button {

  padding: 10px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 5px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);

}

.buttons button:hover {
  transform: scale(1);
}



@keyframes popup {
  0% {
    transform: scale(1, 1)
  }

  10% {
    transform: scale(1.1, 1.1)
  }

  30% {
    transform: scale(.9, .9)
  }

  50% {
    transform: scale(1, 1)
  }

  57% {
    transform: scale(1, 1)
  }

  64% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}


.filter-tables{
  margin-top: 4.5em;
  width: 25em;
}
