.blogTop {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.blogTopLeft,.blogTopRight{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogTopIcon {
  font-size: 20px;
  margin-right: 15px;
  color: 444;
  cursor: pointer;
}

.blogTopIcon:hover {
  color: rgb(98, 0, 255);
}

.blogTopImg {
  width: 50px;
  height: 50px;
  border-radius: 75%; 
  object-fit: cover;
}

.blogTopList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blogTopListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.blogTopListItem:hover {
  color: rgb(98, 0, 255);
}

.blogTopCentre {
  flex: 1;
}

.blogTopSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-left: 15px;
}

.blogTopSearchIcon:hover {
  color: rgb(98, 0, 255);
}