.blogHeader {
  margin-top: 60px;
}

.blogHeaderTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.blogHeaderTitlesSm {
  position: absolute;
  top: 22%;
  font-size: 75px;
  font-family: 'Readex Pro', sans-serif;
  color: black;
}

.blogHeaderTitlesLg {
  position: absolute;
  top: 15%;
  font-size: 50px;
  font-family: 'Readex Pro', sans-serif;
  
}

.blogHeaderImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
  opacity: 0.6;
}