.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.headerTitlesSm {
  position: absolute;
  top: 22%;
  font-size: 75px;
  font-family: 'Readex Pro', sans-serif;
  color: black;
}

.headerTitlesLg {
  position: absolute;
  top: 15%;
  font-size: 50px;
  font-family: 'Readex Pro', sans-serif;
  
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}